<ion-view title="Alternating Dumbbell Curl" id="page32">
    <ion-content padding="true" class="has-header">
        <div style="text-align:center;">
            <img src="img/RMuBKwsUSIm35pAIv7Dk_6432282_orig.jpg" width="100%" height="auto">
        </div>
        <div id="alternatingDumbbellCurl-markdown23" style="color:#000000;">
            <p>Stand (torso upright) with a dumbbell in each hand held at arms length. The elbows should be close to the torso and the palms of your hand should be facing your thighs. 1)While holding the upper arm stationary, curl the right weight as you
                rotate the palm of the hands until they are facing forward.</p>

            <p>2)At this point continue contracting the biceps as you breathe out until your biceps is fully contracted and the dumbbells are at shoulder level.</p>

            <p>3)Hold the contracted position for a second as you squeeze the biceps. Tip: Remember to twist the palms back to the starting position (facing your thighs) as you come down.</p>

            <p>4)Repeat the movement with the left hand. This equals one repetition.</p>
        </div>
    </ion-content>
</ion-view>