<ion-view title="Arms" id="page10">
    <ion-content padding="true" class="has-header">
        <form class="list"></form>
        <ion-list>
            <ion-item class="item-divider">Biceps</ion-item>
        </ion-list>
        <a ui-sref="menu.dumbbellCurl" id="arms-button29" style="font-weight:;" class="button button-positive  button-block">Dumbbell Curl</a>
        <a ui-sref="menu.eZBarBicepsCurl" id="arms-button30" style="font-weight:;" class="button button-positive  button-block">E-Z Bar Biceps Curl</a>
        <a ui-sref="menu.alternatingDumbbellCurl" id="arms-button31" style="font-weight:;" class="button button-positive  button-block">Alternating Dumbbell Curl</a>
        <a ui-sref="menu.hammerDumbbellCurl" id="arms-button32" style="font-weight:;" class="button button-positive  button-block">Hammer Dumbbell Curl</a>
        <ion-list>
            <ion-item class="item-divider">Triceps</ion-item>
        </ion-list>
        <a ui-sref="menu.closeGripBenchPress" id="arms-button33" style="font-weight:;" class="button button-positive  button-block">Close-Grip Bench Press</a>
        <a ui-sref="menu.dumbbellOverheadTricepsPress" id="arms-button34" style="font-weight:;" class="button button-positive  button-block">Dumbbell Overhead Triceps Press</a>
        <a ui-sref="menu.skullCrushers" id="arms-button35" style="font-weight:;" class="button button-positive  button-block">Skull Crushers</a>
        <a ui-sref="menu.tricepsPushdown" id="arms-button36" style="font-weight:;" class="button button-positive  button-block">Triceps Pushdown</a>
        <form class="list"></form>
    </ion-content>
</ion-view>