<ion-view title="Arnold Dumbbell Press" id="page27">
    <ion-content padding="true" class="has-header">
        <div style="text-align:center;">
            <img src="img/TapV7wSkRfCv1PBAIqhG_arnold-dumbbell-presses.jpg" width="100%" height="auto">
        </div>
        <div id="arnoldDumbbellPress-markdown18" style="color:#000000;">
            <p>1)Hold two dumbbells under your chin, your forearms perpendicular to the floor, and your palms facing you.</p>

            <p>2)In the same motion, press the weights up and rotate your elbows back, as if doing a normal shoulder press.</p>

            <p>3)In the top position your arms are up but not locked. Your palms are facing forward.</p>

            <p>4)You’ll have to use less weight than you do for regular dumbbell presses, but it’s crucial that you do full, controlled reps that begin with your elbows in front.</p>
        </div>
    </ion-content>
</ion-view>