<ion-view title="Back Squat" id="page38">
    <ion-content padding="true" class="has-header">
        <div style="text-align:center;">
            <img src="img/J4YMWyxUSXqNytDxOpAS_squat1_0.jpg" width="100%" height="auto">
        </div>
        <div id="backSquat-markdown29" style="color:#000000;">
            <p>1)Standing in a shoulder-width stance with feet slightly pointed out, rest a loaded barbell across the back of your shoulders holding it with an overhand grip.</p>

            <p>2)Descend into a squat position by pushing your hips back and bending at the knee.</p>

            <p>3)At the bottom of the squat, pause, and then drive your hips upward bringing you back to starting position.</p>
        </div>
    </ion-content>
</ion-view>