<ion-view title="Back" id="page12">
    <ion-content padding="true" class="has-header">
        <a ui-sref="menu.bentOverBarbellRow" id="back-button46" style="font-weight:;" class="button button-positive  button-block">Bent over Barbell Row</a>
        <a ui-sref="menu.wideGripPullUp" id="back-button47" style="font-weight:;" class="button button-positive  button-block">Wide Grip Pull Up</a>
        <a ui-sref="menu.standingTBarRow" id="back-button48" style="font-weight:;" class="button button-positive  button-block">Standing T-Bar Row</a>
        <a ui-sref="menu.wideGripSeatedCableRow" id="back-button49" style="font-weight:;" class="button button-positive  button-block">Wide Grip Seated Cable Row</a>
        <a ui-sref="menu.closeGripPullDowns" id="back-button50" style="font-weight:;" class="button button-positive  button-block">Close Grip Pull Down</a>
        <a ui-sref="menu.singleArmDumbbellRow" id="back-button51" style="font-weight:;" class="button button-positive  button-block">Single Arm Dumbbell Row</a>
        <form class="list"></form>
    </ion-content>
</ion-view>