<ion-view title="Bench Press" id="page14">
    <ion-content padding="true" class="has-header">
        <div style="text-align:center;">
            <img src="img/hu6KiK1JQSqfYPVYCweB_360_1.jpg" width="100%" height="auto">
        </div>
        <div id="benchPress-markdown2" style="color:#000000;">
            <p>1) Lie on the bench so your eyes are directly under the bar.</p>

            <p>2) Grasp the bar just outside shoulder width.</p>

            <p>3) Arch your back hard so that your lower back is completely off the bench. Your shoulder blades should be pulled together.</p>

            <p>4) Squeeze the bar tightly and pull it out of the rack.</p>

            <p>5) Take a deep breath and lower the bar to your sternum (in line with the bottom edge of your pecs), tucking your elbows in at about 45 degrees to your sides.</p>

            <p>6) When the bar touches your body, drive your feet hard into the floor and press it back up. Exhale at the end of the rep.</p>
        </div>
    </ion-content>
</ion-view>