<ion-view title="Bulgarian Split Squat" id="page41">
    <ion-content padding="true" class="has-header">
        <div>
            <img src="img/0CL3xm3RvCpZuBADCCnN_bulgarian_split_squat-the-30-best-legs-exercises-of-all-time.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div id="bulgarianSplitSquat-markdown32" style="color:#000000;">
            <p>1)Hold a dumbbell in each hand with your arms fully extended at your sides and your palms facing each other</p>

            <p>2)With your feet hip-width apart, place the instep of your rear foot on a bench. Your feet should be approximately three feet apart.</p>

            <p>3)Lower your hips toward the floor so that your rear knee comes close to the floor.</p>

            <p>4)Pause and drive through your front heel to return to the starting position.</p>
        </div>
    </ion-content>
</ion-view>