<ion-view title="Cable Crossover" id="page15">
    <ion-content padding="true" class="has-header">
        <div style="text-align:center;">
            <img src="img/sH6Hf7nLRfGvR9B2EpAM_cablecrossover618__landscape.jpg" width="100%" height="auto">
        </div>
        <div id="cableCrossover-markdown4" style="color:#000000;">
            <p>1)While stranding between two cable stations, hold the handles attached to the dumbbells of a high pulleys with an overhand grip.</p>

            <p>2)Outstretch your arms while you do so. Bend your hips and knees such that you are leaning forward. But do not go too far.</p>

            <p>3)Bend Your elbows and keep them slightly behind you. Curl your shoulders inwards towards your chest and bring the grip attachments together in front of your chest.</p>

            <p>4)Once you start to feel a stretch in your chest muscles, begin to return to the initial position.</p>

            <p>5)Repeat the above steps and complete your sets.</p>
        </div>
    </ion-content>
</ion-view>