<ion-view title="Calf Raises" id="page42">
    <ion-content padding="true" class="has-header">
        <div>
            <img src="img/uVgvxlH2QO2Km7AGlvVp_219_2.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div id="calfRaises-markdown33" style="color:#000000;">
            <p>1)Stand on the edge of a step.</p>

            <p>2)Stand tall with your abdominals pulled in, the balls of your feet firmly planted on the step, your heels hanging over the edge and a dumbbell of your choice in each hand.</p>

            <p>3)Raise your heels a few inches above the edge of the step so that you’re on your tiptoes.</p>

            <p>4)Hold the position for a moment, and then lower your heels below the platform, feeling a stretch in your calf muscles.</p>
        </div>
    </ion-content>
</ion-view>