<ion-view title="Chest" id="page11">
    <ion-content padding="true" class="has-header">
        <a ui-sref="menu.benchPress" id="chest-button37" style="font-weight:;" class="button button-positive  button-block">Bench Press</a>
        <a ui-sref="menu.cableCrossover" id="chest-button38" style="font-weight:;" class="button button-positive  button-block">Cable Crossover</a>
        <a ui-sref="menu.dumbbellFly" id="chest-button39" style="font-weight:;" class="button button-positive  button-block">Dumbbell Fly</a>
        <a ui-sref="menu.dumbbellPullover" id="chest-button40" style="font-weight:;" class="button button-positive  button-block">Dumbbell Pullover</a>
        <a ui-sref="menu.dipsForChest" id="chest-button41" style="font-weight:;" class="button button-positive  button-block">Dips For Chest</a>
        <a ui-sref="menu.dumbbellPress" id="chest-button42" style="font-weight:;" class="button button-positive  button-block">Dumbbell Press</a>
        <a ui-sref="menu.pressUps" id="chest-button43" style="font-weight:;" class="button button-positive  button-block">Press Ups</a>
        <a ui-sref="menu.seatedMachineChestPress" id="chest-button44" style="font-weight:;" class="button button-positive  button-block">Seated Machine Chest Press</a>
        <form class="list"></form>
    </ion-content>
</ion-view>