<ion-view title="Close Grip Pull Downs" id="page49">
    <ion-content padding="true" class="has-header">
        <div>
            <img src="img/FoAqUTWwSL2XTN3tmmoN_Close-Grip-Lat-Pull-Down.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div id="closeGripPullDowns-markdown40" style="color:#000000;">
            <p>1)Sit on a bench facing an adjustable cable machine with a straight-bar attachment positioned at the high setting</p>

            <p>2) Fully extend your arms upward to grab the bar, your hands three to five inches apart and both palms facing your body.</p>

            <p>3)Keeping your shoulders down and back, maintain a slight arch in your back and pull the bar down until it touches your chest.</p>

            <p>4)Pause, then slowly return the bar to the starting position.</p>
        </div>
    </ion-content>
</ion-view>