<ion-view title="Deadlift" id="page39">
    <ion-content padding="true" class="has-header">
        <div style="text-align:center;">
            <img src="img/qbs7CaahSCWaVQG4GWOK_main-the-5-best-deadlift-variations.jpg" width="100%" height="auto">
        </div>
        <div id="deadlift-markdown30" style="color:#000000;">
            <p>1)Approach the bar so that it is centered over your feet. Your feet should be about hip-width apart. Bend at the hip to grip the bar at shoulder-width allowing your shoulder blades to protract</p>

            <p>2)With your feet and your grip set, take a big breath and then lower your hips and flex the knees until your shins contact the bar</p>

            <p>3)Look forward with your head. Keep your chest up and your back arched, and begin driving through the heels to move the weight upward.</p>

            <p>4)After the bar passes the knees aggressively pull the bar back, pulling your shoulder blades together as you drive your hips forward into the bar.</p>
        </div>
    </ion-content>
</ion-view>