<ion-view title="Dips For Chest" id="page18">
    <ion-content padding="true" class="has-header">
        <div style="text-align:center;">
            <img src="img/uPvZ1EqwRrK6nJN3pAtg_Chest-Dip-Lean-Forward.jpg" width="100%" height="auto">
        </div>
        <div id="dipsForChest-markdown9" style="color:#000000;">
            <p>1)Stand between a set of parallel bars.</p>

            <p>2)Place a hand on each bar, and then take a small jump to help you get into the starting position with your arms locked out.</p>

            <p>3)Begin by flexing the elbow, lowering your body until your arms break 90 degrees. Avoid swinging, and maintain good posture throughout the descent.</p>

            <p>4)Reverse the motion by extending the elbow, pushing yourself back up into the starting position.</p>

            <p>5)Repeat for the desired number of repetitions.</p>
        </div>
    </ion-content>
</ion-view>