<ion-view title="Dumbbell Fly" id="page16">
    <ion-content padding="true" class="has-header">
        <div>
            <img src="img/MDV7AHQQ6yH9V99hNc9r_dumbbell-flyes-on-bench.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div id="dumbbellFly-markdown5" style="color:#000000;">
            <p>1)Lie down on a flat bench with a dumbbell on each hand resting on top of your thighs. The palms of your hand will be facing each other.</p>

            <p>2)Then using your thighs to help raise the dumbbells, lift the dumbbells one at a time so you can hold them in front of you at shoulder width with the palms of your hands facing each other.</p>

            <p>3)Raise the dumbbells up like you're pressing them, but stop and hold just before you lock out. This will be your starting position.</p>

            <p>4)With a slight bend on your elbows in order to prevent stress at the biceps tendon, lower your arms out at both sides in a wide arc until you feel a stretch on your chest.</p>

            <p>5)Breathe in as you perform this portion of the movement. Tip: Keep in mind that throughout the movement, the arms should remain stationary; the movement should only occur at the shoulder joint.</p>

            <p>6)Return your arms back to the starting position as you squeeze your chest muscles and breathe out.</p>

            <p>Tip: Make sure to use the same arc of motion used to lower the weights.</p>
        </div>
    </ion-content>
</ion-view>