<ion-view title="Dumbbell Lunge" id="page43">
    <ion-content padding="true" class="has-header">
        <div>
            <img src="img/UqJhusoRiOJZvrbjCue6_reverse-dumbbell-lunge.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div id="dumbbellLunge-markdown34" style="color:#000000;">
            <p>1)Stand with your torso upright holding two dumbbells in your hands by your sides. This will be your starting position.</p>

            <p>2)Step forward with your right leg around 2 feet or so from the foot being left stationary behind and lower your upper body down, while keeping the torso upright and maintaining balance. Inhale as you go down</p>

            <p>3)Using mainly the heel of your foot, push up and go back to the starting position as you exhale.</p>
        </div>
    </ion-content>
</ion-view>