<ion-view title="Dumbbell curl" id="page30">
    <ion-content padding="true" class="has-header">
        <div>
            <img src="img/A6g0cD84Q43ObiiYkeCg_standing-bicep-dumbbell-curl-photo.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div id="dumbbellCurl-markdown21" style="color:#000000;">
            <p>1)Stand up straight with a dumbbell in each hand at arm's length. Keep your elbows close to your torso and rotate the palms of your hands until they are facing forward. This will be your starting position.</p>

            <p>2)Now, keeping the upper arms stationary, exhale and curl the weights while contracting your biceps. Continue to raise the weights until your biceps are fully contracted and the dumbbells are at shoulder level.</p>

            <p>3)Hold the contracted position for a brief pause as you squeeze your biceps.</p>

            <p>4)Then, inhale and slowly begin to lower the dumbbells back to the starting position.</p>
        </div>
    </ion-content>
</ion-view>