<ion-view title="Dumbbell Overhead Triceps Press" id="page35">
    <ion-content padding="true" class="has-header">
        <div style="text-align:center;">
            <img src="img/eg2JGDDMSjOgmuewwwH9_7f00409523100d6d2eeece50e542a1e1.jpg" width="100%" height="auto">
        </div>
        <div id="dumbbellOverheadTricepsPress-markdown26" style="color:#000000;">
            <p>1)Sit on a bench with back support holding a dumbbell in each hand. Extend your arms fully and raise the dumbbells overhead.</p>

            <p>2)Lower the dumbbells behind your head, bending at the elbows. Keep your elbows steady. Stop just shy of the dumbbell touching your neck.</p>

            <p>3)Pause for one second, then extend your arms back to the starting position overhead.</p>
        </div>
    </ion-content>
</ion-view>