<ion-view title="Dumbbell Press" id="page19">
    <ion-content padding="true" class="has-header">
        <div>
            <img src="img/YOscjXIAQC6JZk0Hvl89_02a210ff86c72c182b8c8cf509c16421.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div id="dumbbellPress-markdown10" style="color:#000000;">
            <p>1)Lie down on a flat bench with a dumbbell in each hand resting on top of your thighs. The palms of your hands will be facing each other.</p>

            <p>2)Then, using your thighs to help raise the dumbbells up, lift the dumbbells one at a time so that you can hold them in front of you at shoulder width.</p>

            <p>3)Once at shoulder width, rotate your wrists forward so that the palms of your hands are facing away from you.</p>

            <p>4)The dumbbells should be just to the sides of your chest, with your upper arm and forearm creating a 90 degree angle. Be sure to maintain full control of the dumbbells at all times. This will be your starting position.</p>

            <p>5)Then, as you breathe out, use your chest to push the dumbbells up. Lock your arms at the top of the lift and squeeze your chest, hold for a second and then begin coming down slowly.</p>

            <p>Tip: Ideally, lowering the weight should take about twice as long as raising it.</p>
        </div>
    </ion-content>
</ion-view>