<ion-view title="Dumbbell Shrugs" id="page28">
    <ion-content padding="true" class="has-header">
        <div>
            <img src="img/fC1OUSm2fePVMAdm2ogQ_uprightrow-fitnesslavie.wordpress.com_.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div id="dumbbellShrugs-markdown19" style="color:#000000;">
            <p>1)Grab a loaded barbell with an overhand grip, and hold the weight in front of your thighs with your palms facing your body. Keeping the weights as close to your body as possible, pull the barbell up towards your chest.</p>

            <p>2)Your elbows should remain flared out during the movement. When the barbell is at your chest level (and not your chin), pause for one to two seconds, and then lower the bar back to the starting position</p>
        </div>
    </ion-content>
</ion-view>