<ion-view title="Dumbbell Shoulder Press" id="page22">
    <ion-content padding="true" class="has-header">
        <div>
            <img src="img/nRKwe5NVT8WhyQKcqMbl_seated-dumbbell-shoulder-press.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div id="dumbbellShoulderPress-markdown13" style="color:#000000;">
            <p>1)Hold a dumbbell in each hand and sit on a bench with back support.</p>

            <p>2)Plant your feet firmly on the floor about hip-width apart.</p>

            <p>3)Bend your elbows and raise your upper arms to shoulder height so the dumbbells are at ear level.</p>

            <p>4)Pull your abdominals in so there is a slight gap between the small of your back and the bench.</p>

            <p>5)Place the back of your head against the pad.</p>

            <p>6)Push the dumbbells up and in until the ends of the dumbbells touch lightly, directly over your head, and then lower the dumbbells back to ear level.</p>
        </div>
    </ion-content>
</ion-view>