<ion-view title="Eating Plans" id="page6">
    <ion-content padding="true" class="has-header">
        <ion-list>
            <ion-item class="item-thumbnail-left">
                <img src="img/rmWfhwN6RtaQ88OuU88b_salad.jpg">
                <h2>WEIGHT LOSS</h2>
                <p>Item</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/kw25IGOyTwaIN45jB4wv_red-meat.jpg">
                <h2>WEIGHT GAIN</h2>
                <p>Item</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/31HdkenySHO84RJXSiGa_20150408144705-90-minute-morning-routine-workday-more-productive-healthy-breakfast-cereal-fruit-smoothie.jpeg">
                <h2>HEALTHY SNACKS</h2>
                <p>Item</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>