<ion-view title="Eating advice" id="page59">
    <ion-content padding="true" class="has-header">
        <div class="button-bar"></div>
        <ion-list>
            <ion-item class="item-thumbnail-left" ui-sref="menu.weightLossMealIdeas">
                <img src="img/UT0eFBfJQRmBxOegGnjW_Kb5K7bntRP2H5ElY8DHu_rmWfhwN6RtaQ88OuU88b_salad.jpg">
                <h2>Weight Loss</h2>
                <p style="white-space:normal;">These healthy meal ideas for weight loss can help not only shed weight but also prevent and control heart disease, diabetes, and high blood pressure.</p>
                <p style="white-space:normal;"></p>
            </ion-item>
        </ion-list>
        <div class="spacer" style="width: 283px; height: 10px;"></div>
        
                <ion-list>
            <ion-item class="item-thumbnail-left" ui-sref="menu.weightGainMealIdeas">
                <img src="img/cTXCveR8Q6utsVsFz6ak_Ae8AJXRR0uWXsrYxcYLg_kw25IGOyTwaIN45jB4wv_red-meat.jpg">
                <h2>Weight Gain</h2>
                <p style="white-space:normal;">For men and women who are looking to put on lean mass, the key is to combine resistance training with a high-calorie diet.</p>
                <p style="white-space:normal;"></p>
            </ion-item>
        </ion-list>
        <div class="spacer" style="width: 283px; height: 10px;"></div>
        
        
        <ion-list>
            <ion-item class="item-thumbnail-left" ui-sref="menu.healthySnackIdeas">
                <img src="img/KU9qmzxZTaaod2IXhZcH_20150408144705-90-minute-morning-routine-workday-more-productive-healthy-breakfast-cereal-fruit-smoothie.jpeg">
                <h2>Healthy Snacks</h2>
                <p style="white-space:normal;">Hungry in between meals? Tuck in to some of these healthy snack ideas that are both healthy and tasty.</p>
                <p style="white-space:normal;"></p>
            </ion-item>
        </ion-list>
        
        
    </ion-content>
</ion-view>