<ion-view title="Exercises" id="page4">
    <ion-content padding="true" class="has-header">
        <ion-list></ion-list>
        <a ui-sref="menu.chest" id="exercises-button11" style="font-weight:;" class="button button-positive  button-block">Chest</a>
        <a ui-sref="menu.arms" id="exercises-button12" style="font-weight:;" class="button button-positive  button-block">Arms</a>
        <a ui-sref="menu.shoulders" id="exercises-button13" style="font-weight:;" class="button button-positive  button-block">Shoulders</a>
        <a ui-sref="menu.legs" id="exercises-button14" style="font-weight:;" class="button button-positive  button-block">Legs</a>
        <a ui-sref="menu.back" id="exercises-button15" style="font-weight:;" class="button button-positive  button-block">Back</a>
    </ion-content>
</ion-view>