<ion-view title="E-Z Bar Biceps Curl" id="page31">
    <ion-content padding="true" class="has-header">
        <div style="text-align:center;">
            <img src="img/oRb4JGMzT4GNh444NhT9_EZ-Bar-Curl.jpg" width="100%" height="auto">
        </div>
        <div id="eZBarBicepsCurl-markdown22" style="color:#000000;">
            <p>1)Stand up straight while holding an EZ curl bar at the wide outer handle. The palms of your hands should be facing forward and slightly tilted inward due to the shape of the bar.</p>

            <p>2)Keep your elbows close to your torso. This will be your starting position.</p>

            <p>3)Now, while keeping your upper arms stationary, exhale and curl the weights forward while contracting the biceps. Focus on only moving your forearms.</p>

            <p>4)Continue to raise the weight until your biceps are fully contracted and the bar is at shoulder level. Hold the top contracted position for a moment and squeeze the biceps.</p>

            <p>5)Then inhale and slowly lower the bar back to the starting position.</p>
        </div>
    </ion-content>
</ion-view>