<ion-view title="Front Barbell Raise" id="page24">
    <ion-content padding="true" class="has-header">
        <div>
            <img src="img/MMH8JssQ9ScRxSnaQoCg_Barbell_front_raises.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div id="frontBarbellRaise-markdown15" style="color:#000000;">
            <p>1)Set up for the barbell front raise by loading a straight bar or EZ bar with the weight you want to use.</p>

            <p>2)Grasp the bar with an overhand grip (palms facing down) with your hands around shoulder width apart.</p>

            <p>3)Stand up straight up and let the barbell rest on your thighs.</p>

            <p>4)Straighten your back, tense your mid section and pull your shoulders back, taking the weight off your thighs and holding it about 5 inches from your body. This is the starting position for the exercise.</p>

            <p>5)Keeping your arms straight slowly raise the barbell up to shoulder height.</p>

            <p>6)Pause, and then slowly lower the barbell back to the starting position.</p>
        </div>
    </ion-content>
</ion-view>