<ion-view title="Front Squat" id="page40">
    <ion-content padding="true" class="has-header">
        <div>
            <img src="img/XDzfWkDjSR6kwFldwkDp_front_squat-the-30-best-legs-exercises-of-all-time.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div id="frontSquat-markdown31" style="color:#000000;">
            <p>1)Stand tall in a shoulder-width stance with feet pointed out. Rest barbell on top of chest</p>

            <p>2) Use an overhand grip to securely hold bar with fingers. Triceps will remain parallel to floor in order to support the weight of the bar.</p>

            <p>3)Inhale and slowly descend hips until thighs become parallel to floor, keeping weight stationary</p>

            <p>4)Pause at the bottom of the squat and then quickly drive hips back to starting position.</p>
        </div>
    </ion-content>
</ion-view>