<ion-view title="Lateral Raise" id="page23">
    <ion-content padding="true" class="has-header">
        <div style="text-align:center;">
            <img src="img/8KMOKj2RKK5utRqHTziA_lateral-raises-weights-workout-04072011.jpg" width="100%" height="auto">
        </div>
        <div id="lateralRaise-markdown14" style="color:#000000;">
            <p>1)Pick a couple of dumbbells and stand with a straight torso and the dumbbells by your side at arms length with the palms of the hand facing you. This will be your starting position.</p>

            <p>2)While maintaining the torso in a stationary position (no swinging), lift the dumbbells to your side with a slight bend on the elbow and the hands slightly tilted forward as if pouring water in a glass.</p>

            <p>3)Continue to go up until you arms are parallel to the floor. Exhale as you execute this movement and pause for a second at the top.</p>

            <p>4)Lower the dumbbells back down slowly to the starting position as you inhale.</p>
        </div>
    </ion-content>
</ion-view>