<ion-view title="Leg Press" id="page44">
    <ion-content padding="true" class="has-header">
        <div>
            <img src="img/kFnpKg2TT2wQtiocDKCu_leg-press---wide-stance.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div id="legPress-markdown35" style="color:#000000;">
            <p>1)Using a leg press machine, sit down on the machine and place your legs on the platform directly in front of you at a medium (shoulder width) foot stance.</p>

            <p>2)Lower the safety bars holding the weighted platform in place and press the platform all the way up until your legs are fully extended in front of you</p>

            <p>3)As you inhale, slowly lower the platform until your upper and lower legs make a 90-degree angle.</p>

            <p>4)Pushing mainly with the heels of your feet and using the quadriceps go back to the starting position as you exhale.</p>
        </div>
    </ion-content>
</ion-view>