<ion-view title="Legs" id="page13">
    <ion-content padding="true" class="has-header">
        <a ui-sref="menu.backSquat" id="legs-button53" style="font-weight:;" class="button button-positive  button-block">Back Squat</a>
        <a ui-sref="menu.frontSquat" id="legs-button54" style="font-weight:;" class="button button-positive  button-block">Front Squat</a>
        <a ui-sref="menu.deadlift" id="legs-button55" style="font-weight:;" class="button button-positive  button-block">Deadlift</a>
        <a ui-sref="menu.bulgarianSplitSquat" id="legs-button56" style="font-weight:;" class="button button-positive  button-block">Bulgarian Split Squat</a>
        <a ui-sref="menu.dumbbellLunge" id="legs-button57" style="font-weight:;" class="button button-positive  button-block">Dumbbell Lunge</a>
        <a ui-sref="menu.legPress" id="legs-button58" style="font-weight:;" class="button button-positive  button-block">Leg Press</a>
        <a ui-sref="menu.calfRaises" id="legs-button59" style="font-weight:;" class="button button-positive  button-block">Calf Raises</a>
        <form class="list"></form>
    </ion-content>
</ion-view>