<ion-view title="Machine Shoulder Press" id="page25">
    <ion-content padding="true" class="has-header">
        <div>
            <img src="img/UAsgWlOsRomeii54rjq0_machine-shoulder-press-1-2.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div id="machineShoulderPress-markdown16" style="color:#000000;">
            <p>1)Sit down on the Shoulder Press Machine and select the weight.</p>

            <p>2)Grab the handles to your sides as you keep the elbows bent and in line with your torso. This will be your starting position.</p>

            <p>3)Now lift the handles as you exhale and you extend the arms fully. At the top of the position make sure that you hold the contraction for a second.</p>

            <p>4)Lower the handles slowly back to the starting position as you inhale.</p>
        </div>
    </ion-content>
</ion-view>