<ion-view title="Press Ups" id="page20">
    <ion-content padding="true" class="has-header">
        <div>
            <img src="img/p7vPXUiIRriiyXfmF3zl_Push-Ups.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div id="pressUps-markdown11" style="color:#000000;">
            <p>1)Lie on the floor face down and place your hands about 36 inches apart while holding your torso up at arms length.</p>

            <p>2)Next, lower yourself downward until your chest almost touches the floor as you inhale.</p>

            <p>3)Now breathe out and press your upper body back up to the starting position while squeezing your chest.</p>

            <p>4)After a brief pause at the top contracted position, you can begin to lower yourself downward again for as many repetitions as needed.</p>
        </div>
    </ion-content>
</ion-view>