<ion-view title="Reverse Machine Fly" id="page26">
    <ion-content padding="true" class="has-header">
        <div>
            <img src="img/8LtT0FW0ROSiWILF6Fyb_reverse-flies-lg.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div id="reverseMachineFly-markdown17" style="color:#000000;">
            <p>1)Adjust the handles so that they are fully to the rear. Make an appropriate weight selection and adjust the seat height so the handles are at shoulder level. Grasp the handles with your hands facing inwards. This will be your starting position.</p>

            <p>2)In a semicircular motion, pull your hands out to your side and back, contracting your rear delts.</p>

            <p>3)Keep your arms slightly bent throughout the movement, with all of the motion occurring at the shoulder joint.</p>

            <p>4)Pause at the rear of the movement, and slowly return the weight to the starting position.</p>
        </div>
    </ion-content>
</ion-view>