<ion-view title="Seated Machine Chest Press" id="page21">
    <ion-content padding="true" class="has-header">
        <div>
            <img src="img/0FapmiADRhqzxIEs0vkl_seated-chest-press-machine-250x250.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div id="seatedMachineChestPress-markdown12" style="color:#000000;">
            <p>1)Sit down on the Chest Press Machine and select the weight.</p>

            <p>2)Grab the handles with a palms-down grip and lift your elbows so that your upper arms are parallel to the floor to the sides of your torso. Tip: Your forearms will be pointing forward since you are grabbing the handles.</p>

            <p>3)Once you bring the handles forward and extend the arms you will be at the starting position.</p>

            <p>4)Now bring the handles back towards you as you breathe in.</p>

            <p>5)Push the handles away from you as you flex your pecs and you breathe out. Hold the contraction for a second before going back to the starting position.</p>

            <p>6)Repeat for the recommended amount of reps</p>
        </div>
    </ion-content>
</ion-view>