<ion-view title="Shoulders" id="page9">
    <ion-content padding="true" class="has-header">
        <a ui-sref="menu.dumbbellShoulderPress" id="shoulders-button22" style="font-weight:;" class="button button-positive  button-block">Dumbbell Shoulder Press</a>
        <a ui-sref="menu.lateralRaise" id="shoulders-button23" style="font-weight:;" class="button button-positive  button-block">Lateral Raise</a>
        <a ui-sref="menu.frontBarbellRaise" id="shoulders-button24" style="font-weight:;" class="button button-positive  button-block">Front Barbell Raise</a>
        <a ui-sref="menu.machineShoulderPress" id="shoulders-button25" style="font-weight:;" class="button button-positive  button-block">Machine Shoulder Press</a>
        <a ui-sref="menu.reverseMachineFly" id="shoulders-button26" style="font-weight:;" class="button button-positive  button-block">Reverse Machine Fly</a>
        <a ui-sref="menu.arnoldDumbbellPress" id="shoulders-button27" style="font-weight:;" class="button button-positive  button-block">Arnold Dumbbell Press</a>
        <a ui-sref="menu.dumbbellShrugs" id="shoulders-button61" class="button button-positive  button-block">Dumbbell Shrugs</a>
        <a ui-sref="menu.uprightRow" id="shoulders-button21" style="font-weight:;" class="button button-positive  button-block">Upright Row</a>
        <form class="list"></form>
    </ion-content>
</ion-view>