<ion-view title="Single Arm Dumbbell Row" id="page50">
    <ion-content padding="true" class="has-header">
        <div style="text-align:center;">
            <img src="img/ZkUuWEeJSGuSZ7vuLC4Q_4940bbb1fefab52122e3735cc4fee21.jpg" width="100%" height="auto">
        </div>
        <div id="singleArmDumbbellRow-markdown41" style="color:#000000;">
            <p>1)Set up for the one arm dumbbell row by grabbing a flat bench and sitting a dumbbell on the left hand side at one end.</p>

            <p>2)Position yourself on the left side of the bench with your right knee and right hand resting on the bench.</p>

            <p>3)Using a neutral grip, pick up the dumbbell with your left hand. Pull your shoulder blade back while keeping your arm straight. This is the starting position for the exercise.</p>

            <p>4)Slowly pull the dumbbell up as far as possible. Pause and squeeze your shoulder blades together, and then slowly lower the dumbbell back to the starting position.</p>
        </div>
    </ion-content>
</ion-view>