<ion-view title="Skull Crushers" id="page36">
    <ion-content padding="true" class="has-header">
        <div style="text-align:center;">
            <img src="img/6fhofXoTRRqhxYQNC0nL_Skull-Crushers.jpg" width="100%" height="auto">
        </div>
        <div id="skullCrushers-markdown27" style="color:#000000;">
            <p>1)The EZ bar lying tricep extension (AKA skullcrusher) is one of the best tricep building exercises there is. If you get wrist pain doing a regular skullcrusher, you should use the EZ bar. Sit on the end of a flat bench with a barbell on your
                thighs.</p>

            <p>2)Grip the EZ bar on the inner grips using an overhand grip.Bring the bar up to your chest and lay down on your back.</p>

            <p>3)Extend your arms straight up above your chest. Keeping your elbows fixed in place and not pointing out, slowly lower the bar until it is about an inch from your forehead (hence the name skullcrusher!).</p>

            <p>4)Pause, and then slowly extend your arms back to the starting position.</p>
        </div>
    </ion-content>
</ion-view>