<ion-view title="Wide Grip Pull Up" id="page47">
    <ion-content padding="true" class="has-header">
        <div>
            <img src="img/n78d61XRTdWhZoxZBklj_TUESWideGripPU.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div id="wideGripPullUp-markdown38" style="color:#000000;">
            <p>1)Grab a pullup bar with your palms facing away from your body, and your hands shoulder-width apart. Allow your arms to hang in a fully extended position.</p>

            <p>2)Keeping your shoulders down and away from your ears, pull yourself up until your chin clears the bar.</p>

            <p>3)Pause, then slowly lower yourself to the starting position.</p>
        </div>
    </ion-content>
</ion-view>