<ion-view title="Wide Grip Seated Cable Row" id="page48">
    <ion-content padding="true" class="has-header">
        <div>
            <img src="img/zARzQm2TmSXM7m7ZJukV_0709_poster4_200x200.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div id="wideGripSeatedCableRow-markdown39" style="color:#000000;">
            <p>1)Sitting at a low pulley cable station, hold the straight-bar attachment with your hands slightly wider than shoulder-width apart.</p>

            <p>2)Using your legs, push your torso back so that your arms are fully extended and you are supporting the weight.</p>

            <p>3)Keeping your chest forward, shoulders down, and back arched, pull the bar toward your waist. Return the weight to the starting position.</p>
        </div>
    </ion-content>
</ion-view>