<ion-view title="Workouts" id="page5">
    <ion-content padding="true" class="has-header">
        <div class="button-bar"></div>
        <ion-list>
            <ion-item class="item-thumbnail-left">
                <img src="img/UJ3FXttZRxyUVORRwmbc_pushup_main_0.jpg">
                <h2>NO-GYM HIT</h2>
                <p>10 intense workouts you can do at home.</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/NwBObavDRQS7oUM0jdeL_bodybook_main.jpg">
                <h2>15-MINUTE MUSCLE BUILDING WORKOUT</h2>
                <p>No matter your genetics, this quick routine will add slabs of lean muscle.</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/ynu8OkP5RUGoQKLBIIvI_man_cross_training_main.jpg">
                <h2>SHORT CIRCUIT TRAINING</h2>
                <p>Got 20 minutes? These workouts build total-body strength, increase muscle endurance, and rev up your metabolism.</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/tzB8ghaiRGe7tg4ULRMO_Abs 2_7.jpg">
                <h2>ALL ABOUT ABS</h2>
                <p>Strengthen and shred your stomach in no time.</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/1swstfKbQXaEpsRVJSci_0709-a-wh-fitness-1847.jpg">
                <h2>CARDIO AND STRENGTH WORKOUT</h2>
                <p>Just open this up, set your phone down and get to work!</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>