<ion-view title="Workouts" id="page5">
    <ion-content padding="true" class="has-header">
        <!--ion-list>
            <ion-item class="item-thumbnail-left" ui-sref="menu.15MinuteMuscleWorkout">
                <img src="img/SbjcSBNcR9SHKUiGtUYJ_jdQ1qDoaS3OLl2M7o6W8_NwBObavDRQS7oUM0jdeL_bodybook_main.jpg">
                <h2>15 Minute Muscle Workout</h2>
                <p style="white-space:normal;">If you're wondering how to build muscle in your hectic schedule, check out this workout routine that will have you in and out of the gym in 15 minutes flat.</p>
            </ion-item>            
        </ion-list>
        <div class="spacer" style="width: 283px; height: 10px;"></div-->
        
        
        <ion-list>
            <ion-item class="item-thumbnail-left" ui-sref="menu.shortCircuitTrainingWorkout">
                <img src="img/2PbJ8oZ2TEWm0iCkDCjn_0iUiEnA1Q4SHV0rvHTuP_ynu8OkP5RUGoQKLBIIvI_man_cross_training_main.jpg">
                <h2>Short Circuit Training</h2>
                <p style="white-space:normal;">Short circuit training is a great way to hammer out a quick workout, and it's extremely effective for transforming your physique.</p>
            </ion-item>
        </ion-list>
        <div class="spacer" style="width: 283px; height: 10px;"></div>
        
        
        <ion-list>
            <ion-item class="item-thumbnail-left" ui-sref="menu.allAboutAbsWorkout">
                <img src="img/7SANQA8fRweHINRdeATT_eCBlWzsSEiPNoxzQNDXO_tzB8ghaiRGe7tg4ULRMO_Abs 2_7.jpg">
                <h2>All About Abs</h2>
                <p style="white-space:normal;">This collection of abdominal exercises and core workouts will help you sculpt six-pack abs, build core strength, and get rid of belly fat.</p>
            </ion-item>
        </ion-list>
        <div class="button-bar"></div>
        
        
        <div class="spacer" style="width: 283px; height: 10px;"></div>
        <ion-list>
            <ion-item class="item-thumbnail-left" ui-sref="menu.noGymHitWorkout">
                <img src="img/FmSPQkSYQy6zQSxFFHk9_tBXJdi9zRJ6Lnaowh7Su_situps-choen.jpg">
                <h2>No-Gym Hit</h2>
                <p style="white-space:normal;">Burn major calories and break a sweat with this high-intensity training workout from home</p>
            </ion-item>
        </ion-list>

    </ion-content>
</ion-view>